.app-button
  font-family: inherit
  font-weight: 700
  font-size: 16px
  outline: none
  cursor: pointer
  color: #000

  &:hover:not(&_disabled)
    color: #000

  &_link
    background: transparent
    border: none

  &_filled
    background: #000
    border: none

  &_outline
    background: transparent
    border: 1px solid

  &_disabled
    color: #969696
